<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JSON Example</title>
</head>
<body>
  <script type="text/javascript">

    let companies =
    `[
      {
        "name": "Big Corporation",
        "numberOfEmployees": "10000",
        "ceo": "Mary",
        "rating": 3.5
      },
      {
        "name": "Small Startup",
        "numberOfEmployees": "3",
        "ceo": null,
        "rating": 4.3
      }
    ]`
    console.log(JSON.parse(companies)[0].name)
  </script>
</body>
</html>