footer.footer {
  position: fixed;
  background-color: rgb(231, 236, 240) !important;
  width: 100%;
  max-height: 50px !important;
}

div.logo {
  display: flex;
}

div.footer-container {
  height: 100px;
  /* margin-top: 20px; */
}

footer .logo {
  margin-top: 5px;
}