.user-profile-btn {
    /* width: 100px; */
    background-color: #0d6efd;
}

svg.iconify.iconify--bx.loggedState {
    position: relative;
    bottom: 2px;
    margin-right:5px;
    height:18px;
    width: 18px;
  }